:root {
  --primary-0: #f29c46;
  --primary-1: #c14d19;
  --secondary-0: #72bc54;

  --neutral-0: #262626;
  --neutral-1: #292929;
  --neutral-2: #666666;
  --neutral-3: #595555;
  --neutral-4: #a3a3a3;
  --neutral-5: #cccccc;
  --neutral-6: #e0e0e0;
  --neutral-7: #f5f5f5;
  --neutral-8: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--neutral-0);
}

.container {
  background-color: var(--neutral-8);
}

.header {
  background-color: var(--primary-0);
  width: 100%;
  height: 117px;
  padding: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
  height: 49px;

  display: flex;
  align-items: center;
}

.header__logo img {
  position: absolute;
  width: 100px;
  height: 71px;
  left: 68px;
  top: 20px;
}

.header__welcome {
  position: absolute;
  height: 53px;
  left: 175px;
  top: 34px;

  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 52px;
}

.header__exit {
  position: absolute;
  width: 24px;
  height: 41px;
  right: 80px;
  top: 38px;
  padding-top: 20px;
}

.header__exit a {
  background-image: url(/icones_Desafio_fullstack/ic_exit.svg);
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 20px;
  color: var(--neutral-0);

  text-decoration: none;

  font-family: "Noto Sans", sans-serif;
  font-weight: 400px;
  font-size: 14.5px;
  line-height: center;
  text-align: center;
}

.header__exit a:hover {
  background-image: url(/icones_Desafio_fullstack/ic_exit_white.png);
  color: var(--neutral-8);
}

.main__content {
  width: 640px;
  margin: 36px auto;
}

.product__registered {
  text-decoration: none;
  color: var(--neutral-1);

  width: 250px;
  height: 46px;
  padding-left: 30px;

  background-image: url(/icones_Desafio_fullstack/ic_produtos.svg);
  background-repeat: no-repeat;
  background-color: var(--neutral-8);
}

.product__registered:hover {
  color: var(--secondary-0);
  background-image: url(/icones_Desafio_fullstack/ic_produtos_green.png);
}

.number__page {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  margin: 5px;
  padding-top: 6px;
}

.text__image {
  color: var(--primary-1);
  font-size: 15px;
  font-weight: 500;
  margin: 5px;
  padding-top: 13px;
  padding-bottom: 30px;
}

input[type='file']{
  display: none;
}

.content {
  width: 640px;
  height: auto;
}

.img {
  width: 241px;
  height: 114px;

  cursor: pointer;
  transition: 3s;
}

.image_product {
  width: 300px;
  height: 210px;
  background-color: var(--neutral-7);
  border: 1px solid var(--primary-1);
  border-radius: 16px;

  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.image_product1{
  width: 642px;
  height: 249px;
}

#file_1 {
  width: 642px;
  height: 249px;
  object-fit: cover;
  border-radius: 16px;
}

#file_2 {
  width: 300px;
  height: 210px;
  border-radius: 16px;
}

#file_3 {
  width: 300px;
  height: 210px;
  border-radius: 16px;
}

input[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}



.image_product2 {
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  gap: 40px;

  margin-bottom: 30px;
}

.upload__image {
  height: 490px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
}



.btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 27px;
  text-align: center;

  height: 51px;
  width: 192px;

  border-radius: 16px;
  background-color: var(--neutral-8);
  border: 1px solid var(--neutral-3);

  cursor: pointer;
}

.btn__register--product {
  background-color: var(--primary-1);
  color: var(--neutral-8);
  border: none;

  margin-left: 448px;
  margin-top: 30px;
}

.footer {
  width: 100%;
  height: 93px;

  background-color: var(--neutral-7);

  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 17px;
  line-height: 24px;
  color: var(--neutral-2);
  text-align: center;
  padding-top: 33px;

  position: fixed;
  bottom: 0;
}
